html, body {
    background-color: rgb(10, 114, 155);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%;    
}

.day {
    color: white;
}

.progress-ring__hours {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.5s;
}

.progress-ring__minutes {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.5s;
}

.progress-ring__seconds {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 1s;
}