html,
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

img {
   width: 600px;
   height: 600px;
}

#distance {
   color: #0009a5;
   font-size: 20px;
}

#clickStatus {
   text-decoration: underline;
   color: #ff0005;
}